.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-bar {
  position: relative;
  display: inline-block;
}
.search-bar1 {
  position: relative;
  display: inline-block;
  font-size: 30px;
}
.search-bar4 {
  position: relative;
  display: inline-block;
  font-size: 15px;
}
.suggestions {
  position: absolute;
  top: 100%;
  right: 40px;
  z-index: 10;
  width: 50%;
  padding: 0;
  margin-top: 4px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.suggestions4 {  
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 10;
  width: 50%;
  padding: 0;
  margin-top: 4px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.suggestions1 {
  position: absolute;
  top: 100%;
  right: 40px;
  z-index: 10;
  width: 50%;
  padding: 0;
  margin-top: 4px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestion {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.suggestion2 {
  padding: 8px 6px;
  cursor: pointer;
}

.suggestion2:hover {
  background-color: #de8181;
}
.weather-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.weather-box h4 {
  margin-top: 0;
}

span.clickable.align-middle{display:none}
.weather-box img {
  width: 50px;
  height: 50px;
}


/* Style for the accordion container */
.accordion {
  margin-bottom: 20px;
}

/* Style for the card headers */
.card-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 10px 15px;
}

/* Style for the collapsed card headers */
.card-header.collapsed {
  background-color: #fff;
}

/* Style for the card bodies */
.card-body {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 15px;
}

/* Style for the collapsed card bodies */

div.card-body.article a{
  display:none;
  padding:0;
}
.card-header{margin:0}

b{display: block;}

h2{font-size:medium;margin:0}
div.card-body.article {
  color: black;
}

.card-header {
  cursor: pointer;
}

.collapse.show .card-body {
  display: block;
}

.card-body {
  display: none;
}

.jj{
  border-radius: 16px;
}
.jj{
  filter: brightness(60%);
}
.jj:hover{
  filter: brightness(40%)
}

.input-box {
  padding: 10px;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
}
.input-box2 {
  padding: 20px;
  width: 320px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 20px;
}


@media screen and (max-width:700px) {
  input[type="text"] {
    padding: 10px 10px;
    width: 130px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
  }
}

.suggestions1 {
  position: absolute;
  top: 100%;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  list-style-type: none;
  z-index: 2;
}
.suggestions2{
  left:10%
}

.suggestions1 .suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestions1 .suggestion:hover {
  background-color: #7f4bf7;
  border-radius: 30px;
}

button.b1{
  padding: 5px 5px;
  background-color: #75ea43;
  border: none;
  border-radius: 60px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button.b12{
  padding: 5px 5px;
  background-color: yellow;
  border: none;
  border-radius: 60px;
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button.b1:hover {
  background-color: green;
}
button.b12:hover {
  background-color: yellowgreen;
}

.dropdown-contenta {
/* display: block; */
position: absolute;
background-color: #f9f9f9;
min-width: 60px;
box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
padding: 5px 12px;
z-index: 1;
}

@media screen and (max-width:700px){
  .dropdown-contenta {
    position: relative;
    background-color: #f9f9f9;
    min-width: 55px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 10px 0px;
    z-index: 1;
    font-weight: 1px;
    }
}
.showa {
  display: none;
}


#tiles{
  font-size: 14px;
  font-family: 'Rubik-Regular';
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  float: left;
  background-color: #fff;
  
}

.regions{
  width: 80%;
  margin: 0 auto;
}

.imageList{
  font-size: 14px;
  font-family: 'Rubik-Regular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 40px;
}


  /* Add a bottom border to the module heading */
  .brd-btm-ctr {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #000;
    border:"solid"
  }

  /* Style the image list */
  .imageList {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  /* Style each list item */
  .imageList li {
    width: calc(33% - 10px);
    margin-bottom: 20px;
  }
  /* Style the figure element */
  .imageList li figure {
    position: relative;
    width: 90%;
    padding-bottom: 66.67%;
    border:2px solid;
    border-radius: 20px;
    box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.2);
  }
  .imageList li figure :hover{
    box-shadow: 10px 24px 25px 10px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
  }

  /* Style the image within the figure */
  .imageList li figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }

  /* Style the caption */
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
  }

  .imageList li:hover .caption {
    opacity: 1;
  }

  /* Responsive Styles */

  @media (max-width: 768px) {
    /* Medium size screens */
    .imageList li {
      width: calc(50% - 10px);
      
    }
    .regions{
      width: 80%;
      margin: 0 0;
    }
  }

  @media (max-width: 576px) {
    /* Mobile screens */
    .imageList li {
      width: 100%;
    }
  }



  /* for plan box */

  .plan-list {
    max-height: 0;
    margin-top:5px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  @media (max-width:700px) {
    .plan-list{
    font-size: 15px;
    /* width:90%; */
    padding-left:20px;
  }
  }
  
  .plan-list.open {
    max-height: 1000px; 
    transition-duration: 2s;
  }
  
  .day-toggle {
    cursor: pointer;
    background-color: #ddd;
    padding:10px;
    padding-left: 20px;
    margin:0px;
    width: 150px;
    border:0.25px solid
  }
  .day-toggle:hover{
    border:2px solid;
    border-color: blue;
  }
  
  .home-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color:blue;
    color: #fff;
    border-radius: 50%;
    z-index: 1000;
  } 

  .saver{
    cursor: pointer;
  }